@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

body{
  overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
 cursor: pointer;
 border: none;
 outline: none;
 box-sizing: border-box;
}

ul,
li{
  margin: 0;
  padding: 0,inherit;
  list-style: none;
}

img{
  margin: 0;
  padding: 0;
}

.container{
  width: 1920px;
  margin: 0 auto;
  padding: 0px 24px;
  // overflow-x: hidden;
}          

.header{
  background-color: #37a9fc;

  &__inner{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    justify-content: flex-start;
    align-self: center;
  }
  &__right{
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-self: center;
    
  }

  &__item{
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    margin-right: 45px;
    white-space: nowrap;
  }
  &__mail{
    margin-right: 60px;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    position: relative;
    align-self: center;
    &::before{
      content: "";
      position: absolute;
      width: 26px;
      height: 20px;
      background-image: url(../images/letter.png);
      background-size: 26px 20px;
      top: 0px;
      left: -37px;
    }
  }
  &__phone{
    margin-right: 20px;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    position: relative;
    align-self: center;
    
    &::before{
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url(../images/trubka.png);
      background-size: 24px 24px;
      top: 0px;
      left: -35px;
    }  
  }
  &__vk{
    align-self: center;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 0px;
    // display: flex;
    // justify-content: center;
  }
  &__contacts-mobile{
    display: none;
  }
 }

 @media(max-width: 1919px){
  .container{
    width: 1360px;
  }
  .header{

    &__item{
      font-size: 15px;
      margin-right: 15px;
    }
    &__mail{
      font-size: 15px;
    }
    &__phone{
      font-size: 15px;
    }
  }
  
}

@media(max-width: 1359px){
  .container{
    width: 768px;
    padding: 0;
  }
  .header{
    &__inner{
      flex-direction: column;
      justify-content: flex-start;
    }
    &__left{
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
    }
    &__right{
      // flex-direction: column;
      justify-content: space-between;
      width: 250px;
      padding-right: 0;
    }
    &__show-contacts{
      display: none;
    }
    
    &__item{
      margin: 0 auto;
      margin-bottom: 10px;
    }
    &__mail{
      margin: 0 auto;
      margin-bottom: 10px;
      display: none;
    }
    &__vk{
      margin: 0 ;
      
    }
    &__phone{
      margin: 0 auto;
      display: none;
    }
    &__contacts-mobile{
      display: block;
      padding-left: 40px;
      & > span{
        display: block;
      }
    }
  }
}



@media(max-width: 767px){
  .container{
    width: 320px;
  }
}

 .nav{
   padding: 20px 0;

  &__inner{
    width: 100%;   
    display: flex;
    justify-content: space-between;
  }
  &__left{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__right{
    width: 720px;
    display: flex;
    justify-content: flex-end;
    
  }
  &__logo{
    margin-right: 30px;
  }
  &__user{
    display: flex;
    justify-content: flex-end;
    // width: 420px;
  }
  &__search{
    display: block;
    height: 30px;
    border-radius: 30.5px;
    border: 2px solid #ddd;
    margin-right: 35px;  
    width: 270px;
    position: relative;
    background: url(../images/search.png) no-repeat 95% 50%;
    background-size: 25px 25px;
    outline: none;
    padding-left: 10px;
    align-self: center;
  } 
  
  &__item{
    margin-right: 30px;
    align-self: center;
  }
  &__user-name{
    font-size: 22px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
    white-space: nowrap;
    margin-right: 30px;
    margin-left: 20px;
    align-self: center;
  }
  &__user-logo{
    width: 40px;
    height: 40px;
    align-self: center;
  }
  &__user-exit{
    width: 24px;
    height: 24px; 
    align-self: center;
  }
}

@media(max-width: 1919px){
  .nav{

    &__item{
      // font-size: 18px;
      white-space: nowrap;
    }
    &__right{
      // width: 500px;
    }
    &__user-name{
      // font-size: 20px;
      margin:0 15px;
    }
    &__search{
      margin-right: 20px;
    }
  }
}

@media (max-width: 1359px){
  .nav{
    padding: 10px 0;
    &__inner,
    &__left, 
    &__right {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }
    &__logo{
      width: 120px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    &__item {
      margin: 0 auto;
      margin-bottom: 10px;
      width: 70%;
      text-align: center;
      white-space: wrap;
      
    }
    &__search {
      width: 320px;
      margin: 10px auto;
    }
    &__user{
      margin: 0 auto;
    }
  }  
}

@media (max-width: 767px){
  .nav{
    &__search{
      width: 90%;
    }
    &__item{
      width: 100%;
      text-align: center;
    }
  }
}


.cources{
  
  & > .container{
    background: url(../images/bg-item.png) no-repeat right top ;
    background-size: 920px;
    margin: 0 auto;
  }
  &__inner{
    // display: flex;
    // justify-content: space-between;
    padding: 0px 70px 250px 70px;
    position: relative;
    
  }
  &__left{
    // margin-top: 45px;
  }
  &__desc{
    margin-top: 50px;
    font-family: "Myriad Pro";
    color: rgb(71, 71, 71);
    white-space: nowrap;
  }
  &__desc--big{
    text-transform: uppercase;
    font-size: 65px;
    display: block;
  }
  &__desc--small{
    display: block;
    font-size: 30px;
  }
  &__button{
    padding: 24px 60px;
    color: #474747;
    background-color: #FFCB4C;
    border-radius: 63.5px;
    font-size: 24px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    margin-top: 50px;
  }
  &__button:hover{
    padding: 28px 98px;
    cursor: pointer;
    border: 2px solid #FFCB4C;
    background-color: #fff;
    color: #FFCB4C;
  }
  &__filter{
    background-color: #EFEFEF;
    position: absolute;
    bottom: -225px;
    left: 40px;
    width: 1780px;
    padding: 65px;
  }
  &__filter-form-row{
    display: flex;
    justify-content: space-between;
  }
  &__filter-form-row:first-child{
    margin-bottom: 45px;  
  }
  &__filter-item{
    width: 370px;
  }
  &__filter-item-name{
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
    padding-left: 10px;
  }
  &__filter-item-input{
    width: 100%;
    font-size: 15px;
    font-family: "DINPro";
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px 10px;
    border:none;
    // height: 30px;
    padding-right: 60px;
  }
  &__filter-apply{
    align-self: flex-end;
    // height: 60px;
    border:2px solid #FFCB4C;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 30px;
    &:hover{
      border:none;
      color: #fff;
      background-color: #FFCB4C;
    }
  }
  &__filter-item.buttons{
    display: flex;
    justify-content: space-between;
  }
  &__filter-reset{
    align-self: flex-end;
    // height: 60px;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #DCDCDC;
    &:hover{
      border:none;
      color: #fff;
      background-color: #FFCB4C;
    }
  }
}

@media(max-width: 1919px){

  .cources{
    & > .container{
      background-size: 60%;
      
    }  

    &__left{
      // margin-top: 25px;
    }
    &__desc{
      margin-top: 20px;
    }
    &__button{
      margin-top: 50px;
    }
    &__filter{
      width: 1220px;
    }
    &__filter-item{
      width: 260px;
    }
    &__filter-apply,
    &__filter-reset{
      padding: 7px 20px;
      font-size: 15px;
    }
    &__filter-form-row:first-child{
      margin-bottom: 60px;  
    }
  }
}

@media(max-width: 1359px){

  .cources{
    
    & > .container{
      // background-size: 40%;
    }
    &__inner{
      padding: 0px 70px 200px 70px;
    }

    &__left{
      margin-top: 25px;
    }
    &__desc{
      margin-top: 0px;
    }
    &__desc--big{
      text-transform: uppercase;
      font-size: 45px;
      display: block;
    }
    &__desc--small{
      display: block;
      font-size: 20px;
    }
    &__filter-item.buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    &__button{
      margin-top: 20px;
    }
    &__filter{
      width: 884px;
      padding: 65px 10px;
    }
    &__filter-item{
      width: 200px;
    }
    &__filter-apply,
    &__filter-reset{
      padding: 7px 20px;
      height: 35px;
      font-size: 15px;
      margin: 0px auto;
      margin-bottom: 10px;
    }
    &__filter-form-row:first-child{
      margin-bottom: 60px;  
    }
  }
}

@media(max-width: 1023px){
  .cources{
    & > .container{
      // background-size: 40%;
    }
    &__logo{
      width: 140px;
    }
    &__button{
      padding: 10px 30px;
      white-space: nowrap;
    }
    &__filter{
      width: 628px;
      padding: 15px 10px;
      bottom: -600px;
    }
    &__filter-item{
      width: 400px;
    }
    &__filter-form-row{
      flex-wrap: wrap;
    }
    &__filter-item{
      margin: 10px auto;
    }
    &__filter-form-row:first-child{
      margin-bottom: 0px;  
    }
  }
}

@media(max-width: 767px){
  .cources{
    & > .container{
      background: none;
    }
    &__inner{
      padding-left: 20px;
      padding-right: 20px;
    }
    &__logo{
      width: 140px;
    }
    &__button{
      font-size: 16px;
    }
    &__desc--big {
      font-size: 35px;
    }
    &__desc--small{
      font-size: 20px;
    }
    &__filter{
      width: 280px;
    }
    &__filter-item{
      width: 200px;
    }
  }
}

.programs{
  background-color: #E4E4E4;
  & > .container{
    padding: 0 80px;
  }
  &__inner{
    padding-top: 300px;
 
  }

  &__title{
    font-size: 25px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    position: relative;
    width: 400px;
    
    &::before {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      left: -20px;
    }
    &::after {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      right: -20px;
    }
  }

  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    width: 570px;
    margin-bottom: 70px;
  }
  &__item-img{
    width: 100%;
  }
  &__item-title{
    margin: 0px 30px;
    margin-top: 25px;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    height: 38px;
    margin-bottom: 20px;
  }
  &__item-desc{
    margin: 0px 30px;
    margin-top: 15px;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
    border-bottom: 2px solid #ddd;
    padding-bottom: 50px;
  }
  &__item-nav{
    margin: 0px 30px;
    display: flex;    
    justify-content: space-between;
    margin-top: 50px;
  }
  &__item-btn{
    background-color: #FFCB4C;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    text-transform: uppercase;
    line-height: 1.2;
    border-radius: 35px;
    padding: 15px 50px;
    &:hover{
      border:2px solid #FFCB4C;
      background-color: #fff;
      color:#FFCB4C;
    }
  }
  &__item-price{
    background-color: #FFCB4C;
    border-radius: 20px 0 20px 0;
    display: block;
    padding: 5px 20px;
    font-size: 24px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
   
  }
  &__page-nav{
    padding-bottom: 20px;
  }
  &__page-nav-items{
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-top: 10px;
  }
  &__page-nav-arrow-left2{
    width: 20px;
    height: 20px;
    position: relative;
    &::before{
      cursor: pointer;
      content: "";
      position: absolute;
      width: 7px;
      height: 18px;
      background-size: 7px 18px;
      background-image: url(../images/navleft.png);
      left:0;
      top:5px;
    }
    &::after{
      cursor: pointer;
      content: "";
      position: absolute;
      width: 7px;
      height: 18px;
      background-size: 7px 18px;
      background-image: url(../images/navleft.png);
      left:7px;
      top:5px;
    }
  }
  &__page-nav-arrow-left1{
    width: 20px;
    height: 20px;
    position: relative;
    &::before{
      cursor: pointer;
      content: "";
      position: absolute;
      width: 7px;
      height: 18px;
      background-size: 7px 18px;
      background-image: url(../images/navleft.png);
      left:0;
      top:5px;
    }
  }  

  &__page-nav-arrow-right2{
    width: 20px;
    height: 20px;
    position: relative;
    &::before{
      cursor: pointer;
      content: "";
      position: absolute;
      width: 7px;
      height: 18px;
      background-size: 7px 18px;
      background-image: url(../images/navright.png);
      left:0;
      top:5px;
    }
    &::after{
      cursor: pointer;
      content: "";
      position: absolute;
      width: 7px;
      height: 18px;
      background-size: 7px 18px;
      background-image: url(../images/navright.png);
      left:7px;
      top:5px;
    }
  }
  &__page-nav-arrow-right1{
    width: 20px;
    height: 20px;
    position: relative;
    &::before{
      cursor: pointer;
      content: "";
      position: absolute;
      width: 7px;
      height: 18px;
      background-size: 7px 18px;
      background-image: url(../images/navright.png);
      left:0;
      top:5px;
    }
  }  
  &__page-nav-item{
    width: 30px;
    height: 30px;
    border: 1px solid #FFCB4C;
    border-radius: 100%;
    padding: 3px 10px;
    cursor: pointer;
    &.active{
      background-color: #FFCB4C;
      cursor: default;
    }
  }
}

@media(max-width: 1929px){
  .programs{
    
    &__item-btn{
      padding: 10px 30px;
    }
    
    &__item{
      width: 32%;
    }
    &__item-title{
      height: 50px;
    }
  }
}



@media(max-width: 1023px){
  .programs{
    &__inner{
      padding-top: 680px;
    }
    &__title{
      &::after,
      &::before{
        top: 12px;
      }
    }  
    &__page-nav{
      margin: 0 auto;
      width: 300px;
    }
    
    
    &__item{
      width: 76%;
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }
}

@media(max-width: 767px){
  .programs{
    & > .container{
      padding: 0;
    }
    &__inner{
      padding-top: 680px;
    }
    &__title{
      
      width: 100%;
      &::before {
        background: none;
      }
      &::after {
        background: none;   
      }
    }
    
    &__item{
      width: 95%;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    &__item-title{
      height: 55px;
      margin-left: 10px;
      margin-right: 10px;
    }
    &__item-desc{
      margin-left: 10px;
      margin-right: 10px;
    }
    &__item-btn{
      font-size: 14px;
      padding: 10px 15px;
    }
    &__item-price{
      font-size: 19px;
    }
  }
}

.calendar{
  background-color: #E4E4E4;
  &__inner{
    padding: 70px 0;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 25px;
    font-family: "DINPro";
    color: #474747;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 350px;
    position: relative;
    
    &::before {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      left: -20px;
    }
    &::after {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      right: -20px;
    }
  }
  &__left{
    width: 45%;
  }
  &__nav{
    margin-left: 140px;
    padding-right: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__nav-date{
    align-self: center;
  }
  &__nav-month{
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-right: 10px;
  }
  &__nav-year{
    font-size: 16px;
    font-family: "DINPro";
    color: #ddd;
    line-height: 1.2;
    border-left: 1px solid #ddd;
    padding-left: 10px;
  }
  &__nav-btn{
    border: 4px solid #ddd;
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 10px;
  }
  &__table{
    border-collapse: collapse;
    width: 100%;
    margin-left: 110px;
    margin-top: 50px;
    &    td {
      width: calc(100% / 7) !important;
    }
  }
  &__table-title{
    height: 45px;
    background-color: #FFCB4C;
    border-radius: 36px;
    text-align: center;
    font-size: 12px;
    font-family: "DINPro";
    color: #000;
    line-height: 1.2;
    & > td:first-child{
      border-radius: 36px 0 0 36px;
    }
    & > td:last-child{
      border-radius: 0 36px 36px 0;
    }
    
  }
  &__table-dates{
    height: 112px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 14px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
    td.calendar__disactive{
      color: #E0E0E0;
    }
    
  }
  &__table-dates > td >span{
    
    &:hover{
      cursor: pointer;
      border-radius: 100%;
      background-color: #eee;
      padding: 15px; 
      
    }
  }
    
  &__select{
    width: calc(100% / 7) !important;
    & > span{
      border-radius: 100%;
      background-color: #eee !important;
      padding: 15px;  
      position: relative;
      &::before{
        content: "";
        width: 65px;
        height: 65px;
        position: absolute;
        border-top: 5px solid black;
        border-right: 5px solid #365BA1;
        border-bottom: 5px solid #37A9FC;
        border-left: 5px solid #86CEFF;
        border-radius: 100%;
        top:-14px;
        left:-14px;
        z-index: 3;
      }
    }
    
  }
  & > td.calendar__disactive{
    color: #707070;
  }

  &__right{
    border-left: 2px solid #ddd;
    padding-left: 50px;
    width: 45%;
    padding-right: 105px;
    & > .calendar__nav{
      margin-left: 0;
      margin-bottom: 35px;
      height: 48px;
      font-size: 16px;
    }
  }

  &__points{
    background-color: #eee;
    border-radius: 36px;
    padding: 12px 40px;
    height: 45px;
  }

  &__points-item{
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
    padding-left: 30px;
    margin-right: 30px;
    position: relative;
    &::before{
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 100%;
      background-color: #365BA1;
      left: 0px;
      top:0px;
    }  
  }
  &__points-item:nth-child(2),
  &__value-item:nth-child(1) > .calendar__value-time{
    &::before{
      background-color: #37A9FC;
    }
  }
  &__points-item:last-child,
  &__value-item:nth-child(3) > .calendar__value-time{
    &::before{
      background-color: #FFCB4C;
    }
  }
  &__value-item{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
    margin-top: 50px;
    padding: 0 20px 0 40px;
  }
  &__value-time{
    width: 230px;
    display: block;
    align-self: center;
    position: relative;
    padding-left: 30px;
    &::before{
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 100%;
      background-color: #365BA1;
      left: 0px;
      top:0px;
    }  
  }
  &__value-title{
    width: 400px;
    display: block;
    align-self: center;
  }
  &__value-btn{
    border: 2px solid #FFCB4C;
    font-size: 22px;
    font-family: "DINPro";
    color: #474747;
    border-radius: 30px;
    padding: 6px 30px;
    background-color: #fff;
    &:hover{
      color: #fff;
      background-color: #FFCB4C;
    }
  }
}

@media(max-width: 1919px){
  .calendar{

    &__left{
      width: 32%;
    }
    &__right{
      width: 58%;
      padding-left: 10px;
    }
    // &__value-item{
    //   font-size: 16px;
    // }
    // &__value-btn{
    //   height: 40px;
    //   font-size: 16px;
    // }
  }
}

@media(max-width: 1359px){
  .calendar{

    &__title{
      margin-bottom: 40px;
    }
    &__left{
      width: 45%;
      padding-left: 20px;
    }
    &__nav{
      margin-left: 0;
    }
    &__table{
      margin-left: 0;
    }
    &__right{
      width: 53%;
      padding-left: 10px;
      padding-right: 20px;
    }
    // &__value-item{
    //   // font-size: 14px;
    //   padding: 0px 20px;
    // }
    // &__value-btn{
    //   height: 40px;
    //   font-size: 14px;
    // }
    // &__table-dates{
    //   font-size: 14px;
    // }
    // &__points-item{
    //   font-size: 14px;
    //   &::before{
    //     top:0;
    //   }
    // }
    // &__points{
    //   padding: 24px 10px;
    // }
    &__select > span::before {
      content: "";
      width: 60px;
      height: 60px;
      top: -12px;
      left: -12px;
    }
    &__left,
    &__right{
      width: 76%;
      margin: 0 auto;
      border: none;
      padding: 0;
    }
    &__inner{
      flex-direction: column;
    }
  }
}

// @media(max-width: 1023px){
//   .calendar{
     
//     &__inner{
//       flex-direction: column;
//     }
    // &__title{
    //   font-size: 40px;
    //   width: 480px;
    //   &::before,
    //   &::after{
    //     top: 22px;
    //   }
    // }
//     &__left,
//     &__right{
//       width: 76%;
//       margin: 0 auto;
//       border: none;
//       padding: 0;
//     }
//   }
// }

@media(max-width: 767px){
  .calendar{
    &__left,
    &__right{
      width: 95%;
    }
    &__nav{
      padding: 0;
    }
    &__title{
      width: 280px;
      &::before,
      &::after{
        display: none;
      }
    }
    &__nav-btn{
      margin: 0 0 0 10px;
    }
    &__select > span::before {
      content: "";
      width: 40px;
      height: 40px;
      top: -12px;
      left: -12px;
    }
    &__select > span{
      padding: 5px;
      width: 25px;
    }
    &__points{
      display: flex;
      justify-content:space-between;
      flex-direction: column;
      height: 120px;
    }
    &__points-item{
      margin: 0 auto;
      margin-bottom: 10px;
      width: 100px;
    }
    &__value-item{
      display: flex;
      flex-direction: column;
    }
    &__value-time,
    &__value-title,
    &__value--btn{
      // margin: 0 auto;
      width: 280px;
      text-align: center;
      margin-bottom: 10px;
    }
    &__value-time{
      width: 150px;
      text-align: left;
      &::before{
        top:0;
      }
    }
  }
}


.special{
  background-color: #E4E4E4;
  padding-top: 90px;
  &__title {
    font-size: 25px;
    font-family: "DINPro";
    color: #474747;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 500px;
    position: relative;
    
    &::before {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      left: -20px;
    }
    &::after {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      right: -20px;
    }
  }
  &__slider{
    width: 1720px;
    margin: 0 auto;
    position: relative;
  }
  &__slider-item{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    width: 33%;
    margin-bottom: 70px;
    margin-right: 25px;
    margin-left: 25px;
  }
  &__slider-item:last-child{
    margin-right: 0;
  }
  &__slider-item-img{
    width: 100%;
  }
  &__slider-item-title{
    margin: 0px 30px;
    margin-top: 25px;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    // height: 48px;
    margin-bottom: 20px;
  }
  &__slider-item-desc{
    margin: 0px 30px;
    margin-top: 15px;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
    border-bottom: 2px solid #ddd;
    padding-bottom: 50px;
  }
  &__slider-item-nav{
    margin: 0px 30px;
    display: flex;    
    justify-content: space-between;
    margin-top: 50px;
  }
  &__slider-item-btn{
    background-color: #FFCB4C;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    text-transform: uppercase;
    line-height: 1.2;
    border-radius: 35px;
    padding: 15px 50px;
    &:hover{
      border:2px solid #FFCB4C;
      background-color: #fff;
      color:#FFCB4C;
    }
  }
  &__slider-item-price{
    background-color: #FFCB4C;
    border-radius: 20px 0 20px 0;
    display: block;
    padding: 5px 20px;
    font-size: 25px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.2;
  
  }
  &__slider-arrow{
    width: 60px;
    height: 60px;
    background-color: #FFCB4C;
    border-radius: 100%;
    text-align: center;
    padding: 10px 15px;
    &.left{
      position: absolute;
      left: -80px;
      top: calc(50% - 92px)
    } 
    &.right{
      position: absolute;
      right: -80px;
      top: calc(50% - 92px)
    } 
    // &:hover{
    //   cursor: pointer;
    //   border:4px solid #FFCB4C;
    //   background-color: grey;
    //   padding: 21px 31px;
    // }
  }
}

@media(max-width: 1923px){
  .special{

    &__slider{
      width: 1320px;
    }
    &__slider-item{
      margin-right: 10px;
      margin-left: 10px;
    }
    &__slider-arrow{
      width: 50px;
      height: 50px;
      padding: 5px 10px;
      &.left{
        left: -50px;
        top: calc(50% - 50px)
      } 
      &.right{
        right: -50px;
        top: calc(50% - 50px)
      } 
      // &:hover{
      //   padding: 1px 6px  ;
        
      // }
    }
    &__slider-item-btn {
      padding: 8px 30px;
    }
  }
}

@media(max-width: 1359px){
  .special{
    padding-top: 70px;
    &__slider{
      width: 600px;
    }
    &__slider-item{
      width: 78%;
    }
    
  }
}

// @media(max-width: 1023px){
//   .special{
//     padding-top: 70px;
//     &__slider{
//       width: 600px;
//     }
//     &__slider-item{
//       width: 78%;
//     }
    
//   }
// }

@media(max-width: 767px){
  .special{
   

    &__title {
      width: 300px;
      &::before,
      &::after{
        display: none;
      }
    }
    &__slider{
      width: 300px;
    }
    &__slider-item{
      width: 95%;
    }
    &__slider-item-btn {
      font-size: 14px;
      padding: 10px 15px;
    }
    &__slider-item-price{
      font-size: 19px;
      padding: 5px 10px;
    }
    &__slider-item-title{
      // margin-left: 0;
      // margin-right: 0;
      font-size: 18px;
    }
    &__slider-item-desc{
      font-size: 14px;
      
    }
  }
}

.advantages{
  background-color: #E4E4E4;
  padding-top: 0px; 
  &__title {
    font-size: 25px;
    font-family: "DINPro";
    color: #474747;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 300px;
    position: relative;
    
    &::before {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      left: -20px;
    }
    &::after {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      right: -20px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 310px;
    text-align: center;
  }
  &__item-img{
    height: 107px;
    width: 107px;
  }
  &__item-title{
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(71, 71, 71);
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 20px;
    
  }
  &__item-desc{
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(71, 71, 71); 
  }
}

@media(max-width: 1923px){
  .advantages{
    // &__item-title{
    //   height: 90px;
    // }
    &__item{
      width: 250px;
      text-align: center;
    }
  }
}

@media(max-width: 1359px){
  .advantages{
    
    &__items{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item{
      width: 40%;
      margin-bottom: 30px;
    }
  }
}



@media(max-width: 767px){
  .advantages{
    &__item{
      width: 95%;
    }
    &__title{
      // font-size: 32px;
      &::before,
      &::after{
        display: none;
      }
    }
  }
}


.news{
  background-color: #E4E4E4;
  padding-top: 150px;
  &__top{
    position: relative;
  }
  &__title {
    font-size: 25px;
    font-family: "DINPro";
    color: #474747;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 180px;
    position: relative;
    
    &::before {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      left: -20px;
    }
    &::after {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      right: -20px;
    }
  }  
  &__share{
    font-size: 19px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    line-height: 1.25;
    position: absolute;
    right: 0;
    bottom:0;
    &::before {
      content: "";
      width: 17px;
      height: 17px;
      background-image: url(../images/share.png);
      background-size: 17px 17px;
      position: absolute;
      top: 2px;
      left: -25px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 565px;     
    border-radius: 30px;
    background-color: #fff; 
    padding: 50px;
  }
  &__date-day{
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    padding:8px 15px;
    background-color: #FFCB4C;
    border-radius: 20px 0 20px 0;
  }
  &__date-year{
    font-size: 16px;
    font-family: "DINPro";
    color:#ddd;
    margin-left: 13px;
  }
  &__item-title{
    margin-top: 20px;
    font-size: 16px;
    font-family: "DINPro";
    color: rgb(71, 71, 71);
    font-weight: bold;
  }
  &__date-desc{
    margin-top: 35px;
    font-size: 16px;
    font-family: "DINPro";
  }
  &__date-list-item{
    font-size: 16px;
    font-family: "DINPro";
    position: relative;
    padding-left: 20px;
    &::before{
      content: "";
      position: absolute;
      width: 13px;
      height: 13px;
      background-color: #FFCB4C;
      border-radius: 100%;
      left: -0px;
      top:2px;
    }
  }
  &__btn{
    border: 2px solid #FFCB4C;
    font-size: 14px;
    font-family: "DINPro";
    color: #474747;
    border-radius: 30px;
    padding: 8px 20px;
    background-color: #fff;
    margin-top: 25px;
    &:hover{
      background-color: #FFCB4C;
      color:#fff;
    }
  }
}

@media(max-width: 1923px){
  .news{
    &__item{
      width: 32%;
    }
  }
}

@media(max-width: 1359px){
  .news{
    &__title{
      margin-bottom: 20px;
    }
    &__share{
      position: relative;
      margin: 0 auto;
      width: 200px;
      margin-bottom: 20px;
    }
    &__items{
      flex-direction: column;
    }
    &__item{
      width: 75%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 738px){
  .news{
    padding-top: 70px;
    &__item{
      width: 95%;
    }
  }
}

.feedback{
  background-color: #E4E4E4;
  padding-top: 130px;
  
  
  &__inner{
    position: relative;
    padding-bottom: 130px;
  }
  &__title {
    font-size: 25px;
    font-family: "DINPro";
    color: #474747;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 180px;
    position: relative;
    
    &::before {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      left: -20px;
    }
    &::after {
      content: "";
      width: 35px;
      height: 5px;
      background: #FFCB4C;
      position: absolute;
      top: 10px;
      right: -20px;
    }
  } 
  &__items{
    padding: 0px 150px;
    position: relative;
  }
  &__item{
    font-size: 16px;
    font-family: "DINPro";
    background-color: #fff;
    border-radius: 30px;
    padding: 50px;
  } 
  &__name{
    font-weight: bold;
    margin-bottom: 30px;
  }
  &__slider-arrow {
    width: 60px;
    height: 60px;
    background-color: #FFCB4C;
    border-radius: 100%;
    text-align: center;
    padding: 10px 15px;
  }
  &__slider-arrow.right {
    position: absolute;
    right: 20px;
    top: calc(50% - 30px);
  }
  &__slider-arrow.left {
    position: absolute;
    left: 20px;
    top: calc(50% - 30px );
  }
  &__logo{
    width: 50px;
    height: 50px;
    background-color: #FFCB4C;
    border-radius: 25px 0 25px 0;
    position: absolute;
    bottom:35px;
    right:10px;
    cursor: pointer;
    &::before{
        content: "";
      width: 25px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 18px;
      left: 12.5px;
      
    }
    &::after{
      content: "";
      width: 18px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 28px;
      left: 12.5px;
    
  }
  }
}

@media(max-width: 1923px){
  .feedback{
    &__slider-arrow {
      width: 50px;
      height: 50px;
      padding: 5px 10px;
    }  
    &__slider-arrow.right {
      top: calc(50% - 25px);
    }
    &__slider-arrow.left {
      top: calc(50% - 25px );
    }
  }
}

@media(max-width: 1359px){
  .feedback{
    &__items{
      padding: 0px 50px;
    }
    &__inner{
      padding-bottom: 100px;
    }
  }
}

@media(max-width: 767px){
  .feedback{
    padding-top: 70px;
    &__items{
      padding: 0px 10px;
    }
    &__logo{
      bottom:10px;
    }
  }
}

.footer{
  background-color: #1E263A;

  &__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    color:#fff;
    font-size: 16px;
    font-family: "DINPro";
  }
  &__address{
    margin-bottom: 25px;
    position: relative;
    padding: 3px 0;
    padding-left: 40px;
    &::before{
      content: "";
      position: absolute;  
      width: 25px;
      height: 25px;
      background-image: url(../images/address.png);
      background-size: 25px 25px;
      left: 0px;
      top:-2px ;
    }
  }
  &__time{
    position: relative;
    padding: 3px 0;
    padding-left: 40px;
    &::before{
      content: "";
      position: absolute;  
      width: 25px;
      height: 25px;
      background-image: url(../images/time.png);
      background-size: 25px 25px;
      left: 0px;
      top:-2px ;
    }
  }
  &__phone{
    margin-bottom: 25px;
    position: relative;
    padding: 3px 0;
    padding-left: 40px;
    &::before{
      content: "";
      position: absolute;  
      width: 25px;
      height: 25px;
      background-image: url(../images/footer_trubka.png);
      background-size: 25px 25px;
      left: 0px;
      top:-2px ;
    }
  }
  &__mail{
    position: relative;
    padding: 3px 0;
    padding-left: 40px;
    &::before{
      content: "";
      position: absolute;  
      width: 25px;
      height: 25px;
      background-image: url(../images/footer_letter.png);
      background-size: 25px 25px;
      left: 0px;
      top:-2px ;
    }
  }
  &__vk{
    margin-bottom: 5px;
    position: relative;
    padding: 3px 0;
    padding-left: 40px;
    &::before{
      content: "";
      position: absolute;  
      width: 30px;
      height: 20px;
      background-image: url(../images/footer__vk.png);
      background-size: 30px 20px;
      left: 0px;
      top:0px ;
    }
  }
  &__btn{
    border-radius: 30.5px;
    padding: 10px 100px;
    border: 3px solid #37A9FC;
    background:inherit;
    color: #fff;
    &:hover{
      background-color: #37A9FC;
    }
  }
  &__name{
    margin-top: 15px;
    color:#2E7FBE;
    margin-bottom: 3px;
  }
}


@media(max-width: 1923px){
  .footer{
    &__inner{
      font-size: 14px;
    }
    &__btn{
      padding: 10px 80px;
    }
    &__logo{
      margin-right: 10px;
    }
  }
}

@media(max-width: 1359px){
  .footer{
    &__inner{
      flex-wrap: wrap;
      padding-left: 30px;
    }

    &__item{
      width: 85%;
      margin-bottom: 25px;
    }
    &__logo{
      margin-bottom: 20px;
    }
    &__vk{
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 767px){
  .footer{
    &__btn{
      padding:10px 40px;
    }
  }
}